{
  "train_batch_size" : "auto",
  "train_micro_batch_size_per_gpu": "auto",
  "steps_per_print": 1000,
  "zero_optimization": {
    "stage": 3,
    "offload_optimizer": {
      "device": "cpu"
    },
    "offload_param": {
      "device": "cpu"
    },
    "stage3_gather_16bit_weights_on_model_save": true
  },
  "optimizer": {
        "type": "AdamW",
        "params": {
        "lr": "auto",
        "eps": "auto",
        "weight_decay": "auto"
        }
    },
  "bf16": {
    "enabled": "auto"
  },
  "wall_clock_breakdown" : false,
  "flops_profiler_config": {
    "enbaled": true
  }
}
